<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index", "Home")">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Developers Challenge <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Home")">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Importar OFX -->
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "OFXFile")">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Importar OFX</span>
        </a>
    </li>

    <!-- Nav Item - Transações -->
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "ExternalTransaction")">
            <i class="fas fa-fw fa-table"></i>
            <span>Transações</span>
        </a>
    </li>

    <!-- Nav Item - Movimentações -->
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "InternalTransaction")">
            <i class="fas fa-fw fa-table"></i>
            <span>Movimentações</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
